<header>
    <link rel="stylesheet" href="/styles/header.css" />
    <nav>
        <div class="nav-container">
            <h1>QuizApp</h1>
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <% if (typeof username !== 'undefined') { %>
                <a class="nav-item nav-link" href="/create-quiz">Create a Quiz</a>
                <a class="nav-item nav-link" href="/users">Your Quizzes</a>
                <span class="user-info">Logged in: <%= username %></span>
                <form action="/logout" method="POST" class="logout-form">
                    <button type="submit" class="nav-item nav-link logout-button">Logout</button>
                </form>
            <% } %>
        </div>
    </nav>
</header>