<header>
    <link rel="stylesheet" href="/styles/header.css" />
    <nav>
        <div class="nav-container">
            <h1>QuizApp</h1>
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/create-quiz">Create a Quiz</a>
        </div>
    </nav>
</header>