<!--views/create-quiz.ejs-->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
  <title>Create Quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <div id="new-quiz-form">
    <h1>Create a new quiz</h1>
    <form action="/create-quiz" method="POST" class="quiz-questions"> <!--Posts to user for now i'll set a route and logic for public vs private quizzes-->
      <input type="hidden" name="username" value="<%= username %>" /> <!--store username here, TODO session cookies-->

    <label for="quiz-title" class="quiz-title">Quiz title:</label>
    <input type="text" id="quiz-title" name="quiz-title"><br>

      <div id="questions-container">
        <label for="question" class="question-title">Question:</label>
        <input type="text" name="question"><br>
        <label for="question-A" class="question-label">Answer A:</label>
        <input type="text" name="question-A"><br>
        <label for="question-B" class="question-label">Answer B:</label>
        <input type="text" name="question-B"><br>
        <label for="question-C" class="question-label">Answer C:</label>
        <input type="text" name="question-C"><br>
        <label for="question-D" class="question-label">Answer D:</label>
        <input type="text" name="question-D"><br>
        
        <label for="question-answer">Correct Answer:</label>
        <select name="correct-answer" id="question-answer">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>
    
    
      <button type="button" id="add-question-btn">Add another question</button>
      <button type="submit" id="submit-btn">Submit!</button>
      
    </form>
  </div>
</body>

</html>
