<!--views/users.ejs-->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>Your quizzes and attempts</h1>
  <div class="your-quizzes">
    <div class="quiz-info">
      <h3>My quizzes:</h3>
      <ul id="myquizzes"></ul>
    </div>
  </div>
  <div>
    <h3>My recent attempts:</h3>
    <div id="attempts"></div>
  </div>
</body>

</html>
