h1 {
  display: inline-flex;
  font-family: "Dangrek", sans-serif;
  color: #fff !important;
  text-shadow: 0 0 10px #00000081;
}

nav {
  background-color: #3D423E;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 0 0 10px #0000001d;
}

.nav-item.nav-link {
  color: white;
  font-family: "Dangrek", sans-serif;
  margin: auto;
  margin: 1%;
  display: inline-block;
  text-decoration: none;
  background-color: #272a27;
  padding: 2px 10px;
  border-radius: 12px;
}

.logout-form {
  float:right;
  margin: 1%;
  background-color: #272a27;
  padding: 4px;
  border-radius: 12px;
}

.user-info {
  color: #fff;
  font-family: "Architects Daughter", cursive;
  font-size: 24px;
  margin: 1%;
  float: right;
  text-shadow: 0 0 10px #0000009f;
}
